<!DOCTYPE html>
    <html>
        <head>
            <title>About</title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="./css/styles.css">
            <script src="./js/app.js"></script>
        </head>
        <body>
            <div class="main-content">
                {{>header}}
                <p>This site was created by Rahul khare. It uses data from mapbox and weatherstack.com. Have a nice day! :)</p>
                <img class="portrait" src="img/img.png">
            </div>            
            {{>footer}}
        </body>
    </html>
</DOCTYPE>